<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Reclamos Asignados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/reclamos"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-app>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>Lista de Cajas</ion-title>
        </ion-toolbar>
      </ion-header>

        <ion-content fullscreen>
          <ion-list>
            <ion-list-header>Reclamos Asignados</ion-list-header>
        <ion-item *ngFor="let cajas of contenidoArray; let ultimo = last;" [ngClass]="{ultimo:ultimo}">

          <ion-label>
          <p>Nro de Reclamo: {{Cajas.name | titlecase}} </p>
          <p>Tipo de Reclamo: {{cajas.tipoReclamo | titlecase}} </p>
          <p>Fecha: {{cajas.fecha | titlecase}} </p>

          <ion-button
            (click)="cargarPlanilla(cajas.$$instanceId)"
            color="secondary"
            size="small"
            slot="end"
            ><ion-icon color="light" name="document-text-sharp"></ion-icon>&nbsp; Cargar Planilla</ion-button><br/>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
  </ion-content>
